In [87]:
import pandas as pd
import numpy as np

In [88]:
radius_account = pd.read_excel('jnu_radius_account_03-06.xlsx')
radius_account.isnull().sum()
radius_account = radius_account.dropna(axis = 1)

In [89]:
radius_account = radius_account.loc[(pd.DatetimeIndex(radius_account['acctstarttime']).month==6)&(radius_account['nasipaddress']=='14.48.180.191'),:]
radius_account.head(-1)

radius_account.to_excel('acc6월_191.xlsx',sheet_name='Sheet1')

In [106]:
import pandas as pd
import numpy as np

In [107]:

# 공기질 데이터 5분마다 나눠져 

air_df3 = pd.read_excel(r'C:\Users\user\air_status\air3.xls' )
air_df4 = pd.read_excel(r'C:\Users\user\air_status\air4.xls' )
air_df5 = pd.read_excel(r'C:\Users\user\air_status\air5.xls' )
air_df6 = pd.read_excel(r'C:\Users\user\air_status\air6.xls' )

In [117]:
radius_account_df = pd.read_excel('acc3월_190.xlsx')
radius_account_df['all_num'] = 1
radius_account_df.set_index(radius_account_df['acctstarttime'], inplace=True)
radius_account_df = radius_account_df.resample('30T', how={'all_num':np.sum}).fillna(0)

radius_account_df.describe()

#radius_account_df.head(-1)

# #189
#
# #190
# air_df = air_df3[['시간','도서관(이산화탄소)','도서관(온도 ℃)','도서관(습도 %)']]

# #191
# air_df = air_df3[['시간','자연대(이산화탄소)','자연대(온도 ℃)','자연대(습도 %)']]

# #189
# air_df = air_df[['시간','여수캠퍼스(이산화탄소)','여수캠퍼스(온도 ℃)','여수캠퍼스(습도 %)']]
# air_df['시간'] = pd.to_datetime(air_df['시간']) 
# air_df.set_index(air_df['시간'], inplace=True)
# air_df = air_df.resample('30T', how={'여수캠퍼스(이산화탄소)':np.average,'여수캠퍼스(온도 ℃)':np.average, '여수캠퍼스(습도 %)':np.average}).fillna(0)

# #190
# air_df = air_df[['시간','도서관(이산화탄소)','도서관(온도 ℃)','도서관(습도 %)']]
# air_df['시간'] = pd.to_datetime(air_df['시간']) 
# air_df.set_index(air_df['시간'], inplace=True)
# air_df = air_df.resample('30T', how={'도서관(이산화탄소)':np.average,'도서관(온도 ℃)':np.average, '도서관(습도 %)':np.average}).fillna(0)

# #191
# air_df = air_df[['시간','자연대(이산화탄소)','자연대(온도 ℃)','자연대(습도 %)']]
# air_df['시간'] = pd.to_datetime(air_df['시간']) 
# air_df.set_index(air_df['시간'], inplace=True)
# air_df = air_df.resample('30T', how={'자연대(이산화탄소)':np.average,'자연대(온도 ℃)':np.average, '자연대(습도 %)':np.average}).fillna(0)

#air_df.head(-1)

# air_df 행 수 :5855개

# air_result = air_df[0:25,:]

#air_result.head()

# result = pd.concat([radius_account_df,air_df], axis=1)
# result = result.dropna()
# result.head(-1)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...)..apply(<func>)
  after removing the cwd from sys.path.

           all_num
count  1474.000000
mean      1.917910
std       3.339885
min       0.000000
25%       0.000000
50%       0.000000
75%       3.000000
max      31.000000

In [ ]:
import openpyxl
ap = openpyxl.load_workbook

In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:

air_df5 = pd.read_excel(r'C:\Users\user\넷첼린지\air_status\air5.xls' )

air_df6 = pd.read_excel(r'C:\Users\user\넷첼린지\air_status\air6.xls' )

# air_df = pd.concat([air_df3,air_df4,air_df5,air_df6] , axis=0)
# air_df.head(-1)

# air_df = air_df3.append(air_df4)
# air_df = air_df.append(air_df5)
# air_df = air_df.append(air_df6)

#필요한 열만 추출

# 기초과학특성회관
air_df1 = air_df5[['시간','자연대(이산화탄소)','자연대(온도 ℃)','자연대(습도 %)']]

#air_df1['all_num'] = 0

air_df1['시간'] = pd.to_datetime(air_df1['시간']) 

air_df1.set_index(air_df1['시간'], inplace=True)

air_df1 = air_df1.resample('15T', how={'자연대(이산화탄소)':np.average,'자연대(온도 ℃)':np.average, '자연대(습도 %)':np.average}).fillna(0)

#air_df1.head(-1)

#air_df1.to_excel('air5_기초특성.xlsx',sheet_name='Sheet1')


#명학회관
air_df2 = air_df5[['시간','도서관(이산화탄소)','도서관(온도 ℃)','도서관(습도 %)']]

air_df2['시간'] = pd.to_datetime(air_df2['시간']) 

air_df2.set_index(air_df2['시간'], inplace=True)

air_df2 = air_df2.resample('15T', how={'도서관(이산화탄소)':np.average,'도서관(온도 ℃)':np.average, '도서관(습도 %)':np.average}).fillna(0)

#air_df2['all_num'] = 0

#air_df2.head(-1)

#air_df2.to_excel('air5_명학회관.xlsx',sheet_name='Sheet1')


#air_df.head(-1)

# air_df 행 수 :5855개

# air_result = air_df[0:,:]

#air_result.head()

# result = pd.concat([radius_account_df,air_df], axis=1)
# result = result.dropna()

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...)..apply(<func>)
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...)..apply(<func>)

In [ ]:


# #자연대

# radius_account = radius_account.loc[(radius_account['ap_ip']=='14.48.182.42')|(radius_account['ap_ip']=='14.48.182.43')|
# (radius_account['ap_ip']=='14.48.182.44')|(radius_account['ap_ip']=='14.48.182.52')|
# (radius_account['ap_ip']=='14.48.182.45')|(radius_account['ap_ip']=='14.48.182.53')|
# (radius_account['ap_ip']=='14.48.182.46')|(radius_account['ap_ip']=='14.48.182.54')|
# (radius_account['ap_ip']=='14.48.182.47')|(radius_account['ap_ip']=='14.48.182.55')|
# (radius_account['ap_ip']=='14.48.182.48')|(radius_account['ap_ip']=='14.48.182.56')|
# (radius_account['ap_ip']=='14.48.182.49')|(radius_account['ap_ip']=='14.48.182.57')|
# (radius_account['ap_ip']=='14.48.182.50')|(radius_account['ap_ip']=='14.48.182.51'),:]


# radius_account['all_num'] = 1

# radius_account.set_index(radius_account['사용시작시각'], inplace=True)

# radius_account_df = radius_account.resample('30T', how={'all_num':np.sum}).fillna(0)

# #radius_account_df.head(-1)
# # 자연대 행 수 : 5802