In [115]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [116]:
ap_data = pd.read_excel('ap.xlsx')
ap_data.head(3)

,USER_TYPE,ACCESS_SUCCESS_YN,AUTHENTICATION_TIME,AP_TYPE,AP IP주소,AP가 있는 건물-층,"AP의 위도, 경도",AP MAC-SHA256해쉬값전환,사용자단말MAC-SHA256해쉬값전환
0,학생,Success,2019-05-01 00:08:35,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o
1,학생,Success,2019-05-01 00:08:35,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o
2,학생,Success,2019-05-01 00:21:42,전남대AP,168.131***,기초특성화과학관-7층,"35.175860, 126.911051",qqGqT,1V/2G

In [117]:
ap_table = ap_data[["AUTHENTICATION_TIME","AP가 있는 건물-층"]]
ap_table.head(3)

  AUTHENTICATION_TIME  AP가 있는 건물-층
0 2019-05-01 00:08:35      명학회관-4층
1 2019-05-01 00:08:35      명학회관-4층
2 2019-05-01 00:21:42  기초특성화과학관-7층

In [118]:
#ap_table = ap_table.loc[ap_table["AP가 있는 건물-층"]=="명학회관-4층",:]
ap_table = ap_table.loc[(ap_table["AP가 있는 건물-층"]=="명학회관-4층")|(ap_table["AP가 있는 건물-층"]=="명학회관-3층"),:]
ap_table.head(50)

    AUTHENTICATION_TIME AP가 있는 건물-층
0   2019-05-01 00:08:35     명학회관-4층
1   2019-05-01 00:08:35     명학회관-4층
4   2019-05-01 00:22:35     명학회관-4층
5   2019-05-01 00:22:35     명학회관-4층
8   2019-05-01 00:41:27     명학회관-4층
9   2019-05-01 00:41:27     명학회관-4층
10  2019-05-01 00:43:40     명학회관-4층
11  2019-05-01 00:43:40     명학회관-4층
12  2019-05-01 01:08:13     명학회관-4층
13  2019-05-01 01:08:13     명학회관-4층
14  2019-05-01 01:08:42     명학회관-4층
15  2019-05-01 01:08:42     명학회관-4층
16  2019-05-01 01:09:34     명학회관-4층
17  2019-05-01 01:09:34     명학회관-4층
18  2019-05-01 01:17:53     명학회관-4층
19  2019-05-01 01:17:53     명학회관-4층
20  2019-05-01 02:00:05     명학회관-4층
21  2019-05-01 02:00:05     명학회관-4층
24  2019-05-01 02:41:38     명학회관-4층
25  2019-05-01 02:41:39     명학회관-4층
26  2019-05-01 02:56:39     명학회관-4층
27  2019-05-01 02:56:39     명학회관-4층
30  2019-05-01 04:16:53     명학회관-4층
31  2019-05-01 04:16:53     명학회관-4층
33  2019-05-01 04:59:24     명학회관-4층
34  2019-05-01 04:59:24     명학회관-4층
41  2019-05-01 08:09:47     명학회관-4층
42  2019-05-01 08:09:47     명학회관-4층
43  2019-05-01 08:09:58     명학회관-3층
44  2019-05-01 08:09:58     명학회관-3층
45  2019-05-01 08:10:01     명학회관-4층
46  2019-05-01 08:10:01     명학회관-4층
75  2019-05-01 08:52:34     명학회관-4층
76  2019-05-01 08:52:34     명학회관-4층
77  2019-05-01 08:52:35     명학회관-4층
78  2019-05-01 08:52:35     명학회관-4층
84  2019-05-01 08:53:13     명학회관-4층
85  2019-05-01 08:53:13     명학회관-4층
280 2019-05-01 09:57:39     명학회관-3층
281 2019-05-01 09:57:39     명학회관-3층
424 2019-05-01 10:25:57     명학회관-4층
425 2019-05-01 10:25:58     명학회관-4층
426 2019-05-01 10:26:09     명학회관-4층
427 2019-05-01 10:26:09     명학회관-4층
431 2019-05-01 10:27:25     명학회관-4층
432 2019-05-01 10:27:25     명학회관-4층
433 2019-05-01 10:27:49     명학회관-4층
434 2019-05-01 10:27:49     명학회관-4층
441 2019-05-01 10:28:59     명학회관-4층
442 2019-05-01 10:28:59     명학회관-4층

In [119]:
ap_table['all_num'] = 1
ap_table = ap_table.drop('AP가 있는 건물-층',1)
ap_table.head(10)

   AUTHENTICATION_TIME  all_num
0  2019-05-01 00:08:35        1
1  2019-05-01 00:08:35        1
4  2019-05-01 00:22:35        1
5  2019-05-01 00:22:35        1
8  2019-05-01 00:41:27        1
9  2019-05-01 00:41:27        1
10 2019-05-01 00:43:40        1
11 2019-05-01 00:43:40        1
12 2019-05-01 01:08:13        1
13 2019-05-01 01:08:13        1

In [120]:
ap_table.set_index(['AUTHENTICATION_TIME'], inplace=True, drop=False)
#ap_table.reset_index( inplace= True)
ap_table.head(10)

                    AUTHENTICATION_TIME  all_num
AUTHENTICATION_TIME
2019-05-01 00:08:35 2019-05-01 00:08:35        1
2019-05-01 00:08:35 2019-05-01 00:08:35        1
2019-05-01 00:22:35 2019-05-01 00:22:35        1
2019-05-01 00:22:35 2019-05-01 00:22:35        1
2019-05-01 00:41:27 2019-05-01 00:41:27        1
2019-05-01 00:41:27 2019-05-01 00:41:27        1
2019-05-01 00:43:40 2019-05-01 00:43:40        1
2019-05-01 00:43:40 2019-05-01 00:43:40        1
2019-05-01 01:08:13 2019-05-01 01:08:13        1
2019-05-01 01:08:13 2019-05-01 01:08:13        1

In [121]:
minute_df = ap_table.resample('30T', how={'all_num':np.sum}).fillna(0)
minute_df.head(5)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...)..apply(<func>)
  """Entry point for launching an IPython kernel.

                     all_num
AUTHENTICATION_TIME
2019-05-01 00:00:00        4
2019-05-01 00:30:00        4
2019-05-01 01:00:00        8
2019-05-01 01:30:00        0
2019-05-01 02:00:00        2

KeyError: 'AUTHENTICATION_TIME'