In [6]:
import tensorflow as tf
#Data Manipulation
import numpy as np
import pandas as pd

#Visualization
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

#Importing Dependencies
%matplotlib inline

import math

In [7]:
#액셀파일 열기
ap_df = pd.read_excel('ap.xlsx')
ap_df.head(3)

,USER_TYPE,ACCESS_SUCCESS_YN,AUTHENTICATION_TIME,AP_TYPE,AP IP주소,AP가 있는 건물-층,"AP의 위도, 경도",AP MAC-SHA256해쉬값전환,사용자단말MAC-SHA256해쉬값전환
0,학생,Success,2019-05-01 00:08:35,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o
1,학생,Success,2019-05-01 00:08:35,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o
2,학생,Success,2019-05-01 00:21:42,전남대AP,168.131***,기초특성화과학관-7층,"35.175860, 126.911051",qqGqT,1V/2G

In [8]:
ap_df = ap_df.loc[(ap_df['AP가 있는 건물-층']=="명학회관-4층"),:]
ap_df.head(50)

,USER_TYPE,ACCESS_SUCCESS_YN,AUTHENTICATION_TIME,AP_TYPE,AP IP주소,AP가 있는 건물-층,"AP의 위도, 경도",AP MAC-SHA256해쉬값전환,사용자단말MAC-SHA256해쉬값전환
0,학생,Success,2019-05-01 00:08:35,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o
1,학생,Success,2019-05-01 00:08:35,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o
4,학생,Success,2019-05-01 00:22:35,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o
5,학생,Success,2019-05-01 00:22:35,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o
8,학생,Success,2019-05-01 00:41:27,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o
9,학생,Success,2019-05-01 00:41:27,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o
10,학생,Success,2019-05-01 00:43:40,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o
11,학생,Success,2019-05-01 00:43:40,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o
12,학생,Success,2019-05-01 01:08:13,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o
13,학생,Success,2019-05-01 01:08:13,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o
14,학생,Success,2019-05-01 01:08:42,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o
15,학생,Success,2019-05-01 01:08:42,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o
16,학생,Success,2019-05-01 01:09:34,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",LbvpW,MJj9o
17,학생,Success,2019-05-01 01:09:34,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",LbvpW,MJj9o
18,학생,Success,2019-05-01 01:17:53,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",zx3M1,WrRdn
19,학생,Success,2019-05-01 01:17:53,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",zx3M1,WrRdn
20,학생,Success,2019-05-01 02:00:05,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o
21,학생,Success,2019-05-01 02:00:05,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o
24,학생,Success,2019-05-01 02:41:38,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o
25,학생,Success,2019-05-01 02:41:39,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o
26,학생,Success,2019-05-01 02:56:39,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",zx3M1,MJj9o
27,학생,Success,2019-05-01 02:56:39,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",zx3M1,MJj9o
30,학생,Success,2019-05-01 04:16:53,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",zx3M1,1ADFm
31,학생,Success,2019-05-01 04:16:53,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",zx3M1,1ADFm
33,학생,Success,2019-05-01 04:59:24,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",zx3M1,WrRdn
34,학생,Success,2019-05-01 04:59:24,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",zx3M1,WrRdn
41,학생,Success,2019-05-01 08:09:47,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",zx3M1,1ADFm
42,학생,Success,2019-05-01 08:09:47,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",zx3M1,1ADFm
45,학생,Success,2019-05-01 08:10:01,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",zx3M1,1ADFm
46,학생,Success,2019-05-01 08:10:01,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",zx3M1,1ADFm
75,학생,Success,2019-05-01 08:52:34,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",zx3M1,VacMg
76,학생,Success,2019-05-01 08:52:34,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",zx3M1,VacMg
77,학생,Success,2019-05-01 08:52:35,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",zx3M1,VacMg
78,학생,Success,2019-05-01 08:52:35,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",zx3M1,VacMg
84,학생,Success,2019-05-01 08:53:13,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",LbvpW,VacMg
85,학생,Success,2019-05-01 08:53:13,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",LbvpW,VacMg
424,학생,Success,2019-05-01 10:25:57,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",zx3M1,ktKxc
425,학생,Success,2019-05-01 10:25:58,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",zx3M1,ktKxc
426,학생,Success,2019-05-01 10:26:09,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,ktKxc
427,학생,Success,2019-05-01 10:26:09,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,ktKxc
431,학생,Success,2019-05-01 10:27:25,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,ktKxc
432,학생,Success,2019-05-01 10:27:25,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,ktKxc
433,학생,Success,2019-05-01 10:27:49,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",LbvpW,ktKxc
434,학생,Success,2019-05-01 10:27:49,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",LbvpW,ktKxc
441,학생,Success,2019-05-01 10:28:59,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,ktKxc
442,학생,Success,2019-05-01 10:28:59,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,ktKxc
443,학생,Success,2019-05-01 10:29:47,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",LbvpW,ktKxc
444,학생,Success,2019-05-01 10:29:47,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",LbvpW,ktKxc
532,학생,Success,2019-05-01 10:50:18,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",zx3M1,ktKxc
639,학생,Success,2019-05-01 11:24:03,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",LbvpW,pmxX2

In [9]:
ap_df['all_num'] = 1
ap_df.head(3)

,USER_TYPE,ACCESS_SUCCESS_YN,AUTHENTICATION_TIME,AP_TYPE,AP IP주소,AP가 있는 건물-층,"AP의 위도, 경도",AP MAC-SHA256해쉬값전환,사용자단말MAC-SHA256해쉬값전환,all_num
0,학생,Success,2019-05-01 00:08:35,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o,1
1,학생,Success,2019-05-01 00:08:35,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o,1
4,학생,Success,2019-05-01 00:22:35,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o,1

In [10]:
ap_df.set_index(ap_df['AUTHENTICATION_TIME'], inplace=True)
ap_df.head(10)

,USER_TYPE,ACCESS_SUCCESS_YN,AUTHENTICATION_TIME,AP_TYPE,AP IP주소,AP가 있는 건물-층,"AP의 위도, 경도",AP MAC-SHA256해쉬값전환,사용자단말MAC-SHA256해쉬값전환,all_num
AUTHENTICATION_TIME,,,,,,,,,,
2019-05-01 00:08:35,학생,Success,2019-05-01 00:08:35,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o,1
2019-05-01 00:08:35,학생,Success,2019-05-01 00:08:35,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o,1
2019-05-01 00:22:35,학생,Success,2019-05-01 00:22:35,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o,1
2019-05-01 00:22:35,학생,Success,2019-05-01 00:22:35,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o,1
2019-05-01 00:41:27,학생,Success,2019-05-01 00:41:27,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o,1
2019-05-01 00:41:27,학생,Success,2019-05-01 00:41:27,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o,1
2019-05-01 00:43:40,학생,Success,2019-05-01 00:43:40,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o,1
2019-05-01 00:43:40,학생,Success,2019-05-01 00:43:40,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o,1
2019-05-01 01:08:13,학생,Success,2019-05-01 01:08:13,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o,1
2019-05-01 01:08:13,학생,Success,2019-05-01 01:08:13,통신사AP,14.48.1***,명학회관-4층,"35.141651, 126.923151",I2pyU,MJj9o,1

In [16]:
ap_df = ap_df.resample('15T', how={'all_num':np.sum}).fillna(0)
ap_df.head(10)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...)..apply(<func>)
  """Entry point for launching an IPython kernel.

                     all_num
AUTHENTICATION_TIME
2019-05-01 00:00:00        4
2019-05-01 00:15:00        0
2019-05-01 00:30:00        4
2019-05-01 00:45:00        0
2019-05-01 01:00:00        8
2019-05-01 01:15:00        0
2019-05-01 01:30:00        0
2019-05-01 01:45:00        0
2019-05-01 02:00:00        2
2019-05-01 02:15:00        0

In [17]:
ap_df.describe()

           all_num
count  5855.000000
mean      3.711529
std       8.871244
min       0.000000
25%       0.000000
50%       0.000000
75%       4.000000
max     151.000000

In [39]:

#두달 간의 데이터가 있고, 평균은 10명, 최대는 245이다
#50%의 데이터가 6이므로 3단계로 잡았다
#75%가 14이므로 4단계 그 위는 무조건 5단계이다.
minute_df.loc[minute_df.all_num > 14, 'class'] = 5
minute_df.loc[minute_df.all_num <= 14, 'class'] = 4 
minute_df.loc[minute_df.all_num <= 6, 'class'] = 3
minute_df.loc[minute_df.all_num <= 4, 'class'] = 2 
minute_df.loc[minute_df.all_num <= 0, 'class'] = 1 

minute_df.head(10)

                     all_num  class
AUTHENTICATION_TIME
2019-05-01 00:00:00        4    2.0
2019-05-01 00:30:00        4    2.0
2019-05-01 01:00:00        8    4.0
2019-05-01 01:30:00        0    1.0
2019-05-01 02:00:00        2    2.0
2019-05-01 02:30:00        4    2.0
2019-05-01 03:00:00        0    1.0
2019-05-01 03:30:00        0    1.0
2019-05-01 04:00:00        2    2.0
2019-05-01 04:30:00        2    2.0

In [30]:
print(minute_df['class'].value_counts())

# plt.figure(figsize=(13, 2))
# sns.boxplot(x=minute_df['all_num'], palette="Blues")
# plt.title('all_num 분포', fontsize=15)

# # Create a function to count total outliers.
# def outliers(variable):
#     global filtered # Global keyword is used inside a function only when we want to do assignments or when we want to change a variable.
    
#     # Calculate 1st, 3rd quartiles and iqr.
#     q1, q3 = variable.quantile(0.25), variable.quantile(0.75)
#     iqr = q3 - q1
    
#     # Calculate lower fence and upper fence for outliers
#     l_fence, u_fence = q1 - 1.5*iqr , q3 + 1.5*iqr   # Any values less than l_fence and greater than u_fence are outliers.
    
#     # Observations that are outliers
#     outliers = variable[(variable<l_fence) | (variable>u_fence)]
#     print('Total Outliers of', variable.name,':', outliers.count())
    
#     # Drop obsevations that are outliers
#     filtered = variable.drop(outliers.index, axis = 0)

1.0    808
5.0    726
4.0    599
2.0    596
3.0    199
Name: class, dtype: int64

In [31]:
    
# outliers(minute_df['all_num'])

# plt.figure(figsize=(13, 2))
# sns.boxplot(x=filtered, palette="Blues")
# plt.title('all_num 분포', fontsize=15)

# minute_df['all_num'].value_counts()

# sns.boxplot(y='class', x='all_num', data=minute_df)

# minute_df.columns

# minute_df.info()

In [33]:

train_data = minute_df.iloc[:2300, :]
test_data = minute_df.iloc[2300:, :]

test_data = test_data.drop(columns = ['class'], axis = 1)

X_train = train_data.drop(columns = ['class'], axis = 1)
y_train = train_data['class']

X_test = test_data.copy()

# See the dimensions of input and output data set.'''
print('Input Matrix Dimension:  ', X_train.shape)
print('Output Vector Dimension: ', y_train.shape)
print('Test Data Dimension:     ', X_test.shape)

Input Matrix Dimension:   (2300, 1)
Output Vector Dimension:  (2300,)
Test Data Dimension:      (628, 1)

In [34]:

# Now initialize all the classifiers object.

#1.Logistic Regression
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

#2.KNN
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()

#3.Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(random_state = 40)

#4.Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state = 40, n_estimators = 100)

#5.Support Vector Machines
from sklearn.svm import SVC
svc = SVC(gamma = 'auto')

In [35]:

# Create a function that returns train accuracy of different models.

def train_accuracy(model):
    model.fit(X_train, y_train)
    train_accuracy = model.score(X_train, y_train)
    train_accuracy = np.round(train_accuracy*100, 2)
    return train_accuracy
    
# making the summary table of train accuracy.
train_accuracy = pd.DataFrame({'Train_accuracy(%)':[train_accuracy(lr), train_accuracy(knn), train_accuracy(dt), train_accuracy(rf), train_accuracy(svc)]})
train_accuracy.index = ['LR', 'KNN','DT', 'RF', 'SVC']
sorted_train_accuracy = train_accuracy.sort_values(by = 'Train_accuracy(%)', ascending = False)

#Training Accuracy of the Classifiers
sorted_train_accuracy

C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

     Train_accuracy(%)
KNN             100.00
DT              100.00
RF              100.00
SVC             100.00
LR               89.35

In [40]:


# Create a function that returns mean cross validation score for different models.
def val_score(model):
    from sklearn.model_selection import cross_val_score
    val_score = cross_val_score(model, X_train, y_train, cv = 10, scoring = 'accuracy').mean()
    val_score = np.round(val_score*100, 2)
    return val_score

# making the summary table of cross validation accuracy.
val_score = pd.DataFrame({'val_score(%)':[val_score(lr), val_score(knn), val_score(dt), val_score(rf), val_score(svc)]})
val_score.index = ['LR', 'KNN','DT', 'RF', 'SVC']
sorted_val_score = val_score.sort_values(by = 'val_score(%)', ascending = False)

C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [ ]:
#cross validation accuracy of the Classifiers
sorted_val_score

# Submission with the most accurate random forest classifier
submission = pd.DataFrame({
        "all_num": test_data["all_num"],
        "class": knn.predict(X_test)})
submission.to_csv('submission_KNN.csv', index = False)


# Submission with the most accurate SVC classifier.
submission = pd.DataFrame({
        "all_num": test_data["all_num"],
        "class": svc.predict(X_test)})
submission.to_csv('submission_svc.csv', index = False)