In [1]:
import pandas as pd
import numpy as np
train_df = pd.read_csv('train.csv', sep = ',')
print(train_df.shape)
train_df.head(3)
print(train_df.info())
train_df['Average'] = (train_df['High'] + train_df['Low'])/2
train_df.head(3)
print(train_df.info())
train_df['Average'] = (train_df['High'] + train_df['Low'])/2
train_df.head(3)

(1226, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1226 entries, 0 to 1225
Data columns (total 7 columns):
Date         1226 non-null object
Open         1159 non-null float64
High         1159 non-null float64
Low          1159 non-null float64
Close        1159 non-null float64
Adj Close    1159 non-null float64
Volume       1159 non-null float64
dtypes: float64(6), object(1)
memory usage: 67.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1226 entries, 0 to 1225
Data columns (total 8 columns):
Date         1226 non-null object
Open         1159 non-null float64
High         1159 non-null float64
Low          1159 non-null float64
Close        1159 non-null float64
Adj Close    1159 non-null float64
Volume       1159 non-null float64
Average      1159 non-null float64
dtypes: float64(7), object(1)
memory usage: 76.7+ KB
None

,Date,Open,High,Low,Close,Adj Close,Volume,Average
0,2014-07-21,26980.0,27200.0,26860.0,27060.0,73.174591,8059950.0,27030.0
1,2014-07-22,26960.0,27160.0,26900.0,26960.0,72.904175,6300950.0,27030.0
2,2014-07-23,27080.0,27140.0,26700.0,26760.0,72.363342,6417300.0,26920.0