In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.layers import LSTM, Dropout, Dense, Activation
# from keras.callbacks import TensorBoard, ModelCheckpoint, ReduceLROnPlateau
import datetime
import tensorflow as tf

In [8]:
data = pd.read_csv('005930.KS.csv')
data.head()

         Date     Open     High      Low    Close  Adj Close      Volume
0  2014-08-07  26000.0  26040.0  25700.0  25800.0  69.767357   9527250.0
1  2014-08-08  25680.0  25700.0  24960.0  25000.0  67.604027  20621450.0
2  2014-08-11  25500.0  25640.0  25140.0  25400.0  68.685684  18619250.0
3  2014-08-12  25400.0  25880.0  25240.0  25320.0  68.469360   8995700.0
4  2014-08-13  25500.0  25500.0  24960.0  25280.0  68.361183  12845000.0

In [9]:
high_prices = data['High'].values
low_prices = data['Low'].values
mid_prices = (high_prices + low_prices) / 2

In [10]:
seq_len = 50
sequence_length = seq_len + 1

result = []
for index in range(len(mid_prices) - sequence_length):
    result.append(mid_prices[index: index + sequence_length])

In [15]:
seq_len = 50
sequence_length = seq_len + 1

result = []
for index in range(len(mid_prices) - sequence_length):
    result.append(mid_prices[index: index + sequence_length])
    
    
result = np.array(result)
print(result.shape)

normalized_data = []
for window in result:
    normalized_window = [((float(p) / float(window[0])) - 1) for p in window]
    normalized_data.append(normalized_window)

result = np.array(normalized_data)

# split train and test data
row = int(round(result.shape[0] * 0.9))
train = result[:row, :]
np.random.shuffle(train)

x_train = train[:, :-1]
x_train = np.reshape(x_train, (x_train.shape[0], x_train.shape[1], 1))
y_train = train[:, -1]

x_test = result[row:, :-1]
x_test = np.reshape(x_test, (x_test.shape[0], x_test.shape[1], 1))
y_test = result[row:, -1]

x_train.shape, x_test.shape

(1174, 51)

((1057, 50, 1), (117, 50, 1))

In [12]:
model = Sequential()

model.add(LSTM(50, return_sequences=True, input_shape=(50, 1)))

model.add(LSTM(64, return_sequences=False))

model.add(Dense(1, activation='linear'))

model.compile(loss='mse', optimizer='rmsprop')

model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_3 (LSTM)                (None, 50, 50)            10400
_________________________________________________________________
lstm_4 (LSTM)                (None, 64)                29440
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 65
=================================================================
Total params: 39,905
Trainable params: 39,905
Non-trainable params: 0
_________________________________________________________________