In [2]:
import pandas as pd
import numpy as np

In [3]:
ap_data = pd.read_excel('ap.xlsx',sheet_name = 'AP사용정보')
ap_data.head(3)

,USER_TYPE,AP IP주소,AP가 설치된 건물-층,"위도,경도",AP_TYPE,START_USING_TIME,END_USING_TIME,USAGE_TIME(second),AP_MAC -SHA256해쉬값전환,사용자단말 MAC-SHA256해쉬값전환
0,학생,168.131***,기초특성화과학관-7층,"35.175860, 126.911051",전남대AP,2019-05-01 00:21:43,2019-05-01 01:06:38,2693,qqGqT,1V/2G
1,학생,168.131***,기초특성화과학관-1층,"35.175860, 126.911051",전남대AP,2019-05-01 00:28:32,2019-05-01 00:29:06,34,9REc7,iA07F
2,학생,14.48.1***,명학회관-4층,"35.141651, 126.923151",통신사AP,2019-05-01 01:09:34,2019-05-01 01:12:17,162,LbvpW,MJj9o

In [6]:
ap_data = ap_data.loc[(ap_data['AP가 설치된 건물-층']=="명학회관-4층")|(ap_data['AP가 설치된 건물-층']=="명학회관-3층"),:]
ap_data.head(5)

,USER_TYPE,AP IP주소,AP가 설치된 건물-층,"위도,경도",AP_TYPE,START_USING_TIME,END_USING_TIME,USAGE_TIME(second),AP_MAC -SHA256해쉬값전환,사용자단말 MAC-SHA256해쉬값전환
2,학생,14.48.1***,명학회관-4층,"35.141651, 126.923151",통신사AP,2019-05-01 01:09:34,2019-05-01 01:12:17,162,LbvpW,MJj9o
3,학생,14.48.1***,명학회관-4층,"35.141651, 126.923151",통신사AP,2019-05-01 01:17:53,2019-05-01 04:34:40,11807,zx3M1,WrRdn
5,학생,14.48.1***,명학회관-4층,"35.141651, 126.923151",통신사AP,2019-05-01 02:56:39,2019-05-01 02:57:05,25,zx3M1,MJj9o
7,학생,14.48.1***,명학회관-4층,"35.141651, 126.923151",통신사AP,2019-05-01 04:16:53,2019-05-01 07:49:18,12745,zx3M1,1ADFm
9,학생,14.48.1***,명학회관-4층,"35.141651, 126.923151",통신사AP,2019-05-01 04:59:25,2019-05-01 08:48:11,13727,zx3M1,WrRdn

In [7]:
ap_table = ap_data[['username','START_USING_TIME','USAGE_TIME(second)','AP가 설치된 건물-층']]
ap_table.head(3)

     START_USING_TIME  USAGE_TIME(second) AP가 설치된 건물-층
2 2019-05-01 01:09:34                 162      명학회관-4층
3 2019-05-01 01:17:53               11807      명학회관-4층
5 2019-05-01 02:56:39                  25      명학회관-4층

In [8]:
#.drop(labels = 1)
ap_table = ap_table.drop('AP가 설치된 건물-층',1)
ap_table.head(3)

     START_USING_TIME  USAGE_TIME(second)
2 2019-05-01 01:09:34                 162
3 2019-05-01 01:17:53               11807
5 2019-05-01 02:56:39                  25

In [9]:
data_ap=ap_table.dropna()
data_ap=data_ap.reset_index(drop=True)

In [10]:
data_ap.shape

(12973, 2)

In [11]:
date_data =pd.DataFrame()
date_data.loc[:,'date_5_6']=pd.Series(pd.date_range("2019-5-1", "2019-7-01", freq="60T"))

In [13]:
#여기서 00:00:00의 all_num의 의미는 0-5분까지의 사람 숫자로 계산할 것이다.
date_data['all_num']=0
date_data.head(5)

             date_5_6  all_num
0 2019-05-01 00:00:00        0
1 2019-05-01 01:00:00        0
2 2019-05-01 02:00:00        0
3 2019-05-01 03:00:00        0
4 2019-05-01 04:00:00        0

In [ ]:
# 중복제거 하는 법

In [ ]:

import sys

for idx1, row1 in data_ap.iterrows():
    for idx, row in date_data.iterrows(): 

        timestamp = row1.START_USING_TIME
        iteration = data_ap.iat[idx1,1]//3600
        
        temp=0
        
        while(date_data.iat[idx,0] < timestamp) and (timestamp < date_data.iat[idx+1,0]):
            date_data.iat[idx+temp,1] = date_data.iat[idx+temp,1] + 1 
            print(date_data.iat[idx+temp,0])
            print(date_data.iat[idx+temp,1])
            if temp == iteration:
                break
            temp+=1