In [80]:
import pandas as pd
import numpy as np

In [81]:
ap_data = pd.read_excel("exact_data_7.xlsx")

In [82]:
ap_data.head(-1)

,Unnamed: 0,username,place,acctstarttime,acctstoptime,acctsessiontime,calledstationid,ipaddress,callingstationid,acctstarttime_year,acctstarttime_month,acctstarttime_day,acctstarttime_hour,acctstarttime_minute
0,0,NaN,도서관열람실,2019-09-20 00:10:00,2019-09-20 00:11:00,64.000000,34FCB96C1C10,168.131.181.117,886B6E27E0B5,2019,9,20,0,10
1,1,NaN,도서관열람실,2019-09-20 00:10:00,2019-09-20 00:11:00,64.000000,34FCB96C1C10,168.131.181.117,886B6E27E0B5,2019,9,20,0,10
2,2,151782,도서관열람실,2019-09-20 00:10:00,2019-09-20 00:11:00,64.000000,34FCB96C1C10,168.131.181.117,886B6E27E0B5,2019,9,20,0,10
3,3,NaN,도서관열람실,2019-09-20 07:31:00,2019-09-20 09:51:00,8405.000000,34FCB96C1C10,168.131.181.117,3C9509853341,2019,9,20,7,31
4,4,121742,도서관열람실,2019-09-20 07:31:00,2019-09-20 09:51:00,8405.000000,34FCB96C1C10,168.131.181.117,3C9509853341,2019,9,20,7,31
5,5,NaN,도서관열람실,2019-09-20 07:35:00,2019-09-20 07:39:00,227.000000,34FCB96C1C00,168.131.181.117,44783E0C17AA,2019,9,20,7,35
6,6,b7931,도서관열람실,2019-09-20 07:35:00,2019-09-20 07:39:00,227.000000,34FCB96C1C00,168.131.181.117,44783E0C17AA,2019,9,20,7,35
7,7,NaN,도서관열람실,2019-09-20 07:39:00,2019-09-20 10:53:00,11673.000000,34FCB96C1C00,168.131.181.117,9CE6E7CDDA56,2019,9,20,7,39
8,8,176272,도서관열람실,2019-09-20 07:39:00,2019-09-20 10:53:00,11673.000000,34FCB96C1C00,168.131.181.117,9CE6E7CDDA56,2019,9,20,7,39
9,9,NaN,도서관열람실,2019-09-20 07:59:00,2019-09-20 08:00:00,50.000000,34FCB96C1C00,168.131.181.117,F8E61AFD6E5F,2019,9,20,7,59
10,10,happy00727,도서관열람실,2019-09-20 07:59:00,2019-09-20 08:00:00,50.000000,34FCB96C1C00,168.131.181.117,F8E61AFD6E5F,2019,9,20,7,59
11,11,NaN,도서관열람실,2019-09-20 08:01:00,2019-09-20 08:20:00,1166.000000,34FCB96C1C10,168.131.181.117,88365FB69B0D,2019,9,20,8,1
12,12,NaN,도서관열람실,2019-09-20 08:01:00,2019-09-20 08:20:00,1166.000000,34FCB96C1C10,168.131.181.117,88365FB69B0D,2019,9,20,8,1
13,13,NaN,도서관열람실,2019-09-20 08:06:00,2019-09-20 08:42:00,2184.000000,34FCB96C1C10,168.131.181.117,A82BB9D2FD9C,2019,9,20,8,6
14,14,133348,도서관열람실,2019-09-20 08:06:00,2019-09-20 08:42:00,2184.000000,34FCB96C1C10,168.131.181.117,A82BB9D2FD9C,2019,9,20,8,6
15,15,NaN,도서관열람실,2019-09-20 08:06:00,2019-09-20 09:20:00,4391.000000,34FCB96C1C00,168.131.181.117,24F5AA72FB87,2019,9,20,8,6
16,16,145804,도서관열람실,2019-09-20 08:06:00,2019-09-20 09:20:00,4391.000000,34FCB96C1C00,168.131.181.117,24F5AA72FB87,2019,9,20,8,6
17,17,NaN,도서관열람실,2019-09-20 08:21:00,2019-09-20 09:29:00,4054.000000,34FCB96C1C10,168.131.181.117,C82158FBF97D,2019,9,20,8,21
18,18,122551,도서관열람실,2019-09-20 08:21:00,2019-09-20 09:29:00,4054.000000,34FCB96C1C10,168.131.181.117,C82158FBF97D,2019,9,20,8,21
19,19,NaN,도서관열람실,2019-09-20 08:22:00,2019-09-20 09:55:00,5525.000000,34FCB96C1C10,168.131.181.117,DC0B34AEDFFD,2019,9,20,8,22
20,20,155544,도서관열람실,2019-09-20 08:22:00,2019-09-20 09:55:00,5525.000000,34FCB96C1C10,168.131.181.117,DC0B34AEDFFD,2019,9,20,8,22
21,21,NaN,도서관열람실,2019-09-20 08:37:00,2019-09-20 08:38:00,55.000000,34FCB96C1C00,168.131.181.117,D4A33D052AF7,2019,9,20,8,37
22,22,8910374,도서관열람실,2019-09-20 08:37:00,2019-09-20 08:38:00,55.000000,34FCB96C1C00,168.131.181.117,D4A33D052AF7,2019,9,20,8,37
23,23,NaN,도서관열람실,2019-09-20 08:40:00,2019-09-20 08:45:00,287.000000,34FCB96C1C00,168.131.181.117,D868C36D1DD1,2019,9,20,8,40
24,24,133575,도서관열람실,2019-09-20 08:40:00,2019-09-20 08:45:00,287.000000,34FCB96C1C00,168.131.181.117,D868C36D1DD1,2019,9,20,8,40
25,25,NaN,도서관열람실,2019-09-20 08:48:00,2019-09-20 09:13:00,1478.000000,34FCB96C1C10,168.131.181.117,548CA0785145,2019,9,20,8,48
26,26,133369,도서관열람실,2019-09-20 08:48:00,2019-09-20 09:13:00,1478.000000,34FCB96C1C10,168.131.181.117,548CA0785145,2019,9,20,8,48
27,27,NaN,도서관열람실,2019-09-20 08:56:00,2019-09-20 09:40:00,2668.000000,34FCB96C1C10,168.131.181.117,948BC112B3F8,2019,9,20,8,56
28,28,160893,도서관열람실,2019-09-20 08:56:00,2019-09-20 09:40:00,2668.000000,34FCB96C1C10,168.131.181.117,948BC112B3F8,2019,9,20,8,56
29,29,NaN,도서관열람실,2019-09-20 09:03:00,2019-09-20 11:01:00,7060.000000,34FCB96C1C10,168.131.181.117,BCA58BECA067,2019,9,20,9,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2656,2656,174403,도서관열람실,2019-09-30 20:35:00,2019-09-30 20:51:00,961.000000,34FCB96C1C10,168.131.181.117,D0C5F3D6671C,2019,9,30,20,35
2657,2657,NaN,도서관열람실,2019-09-30 20:42:00,2019-09-30 21:14:00,1957.000000,34FCB96C1C00,168.131.181.117,ACEE9E9E1664,2019,9,30,20,42
2658,2658,NaN,도서관열람실,2019-09-30 20:51:00,2019-09-30 21:06:00,902.000000,34FCB96C1C10,168.131.181.117,D0C5F3D6671C,2019,9,30,20,51
2659,2659,163916,도서관열람실,2019-09-30 20:54:00,2019-09-30 21:07:00,794.000000,34FCB96C1C10,168.131.181.117,D46D6DEA68E8,2019,9,30,20,54
2660,2660,132104,도서관열람실,2019-09-30 20:54:00,2019-09-30 23:59:00,11089.000000,34FCB96C1C00,168.131.181.117,30E37AE97C7B,2019,9,30,20,54
2661,2661,163619,도서관열람실,2019-09-30 20:55:00,2019-09-30 22:13:00,4671.000000,34FCB96C1C10,168.131.181.117,7C5CF85A8DFE,2019,9,30,20,55
2662,2662,134477,도서관열람실,2019-09-30 21:01:00,2019-09-30 21:03:00,99.000000,34FCB96C1C10,168.131.181.117,6C006BC9F3E3,2019,9,30,21,1
2663,2663,NaN,도서관열람실,2019-09-30 21:02:00,2019-09-30 21:21:00,1151.000000,34FCB96C1C10,168.131.181.117,D4A33D3A4EEE,2019,9,30,21,2
2664,2664,112763,도서관열람실,2019-09-30 21:05:00,2019-09-30 21:06:00,38.000000,34FCB96C1C00,168.131.181.117,E4FAEDC44124,2019,9,30,21,5
2665,2665,174403,도서관열람실,2019-09-30 21:06:00,2019-09-30 21:22:00,972.000000,34FCB96C1C10,168.131.181.117,D0C5F3D6671C,2019,9,30,21,6
2666,2666,163168,도서관열람실,2019-09-30 21:07:00,2019-09-30 21:28:00,1298.000000,34FCB96C1C00,168.131.181.117,E0946768E5C5,2019,9,30,21,7
2667,2667,NaN,도서관열람실,2019-09-30 21:10:00,2019-09-30 21:29:00,1138.000000,34FCB96C1C10,168.131.181.117,88AE0717B136,2019,9,30,21,10
2668,2668,NaN,도서관열람실,2019-09-30 21:11:00,2019-09-30 21:34:00,1386.000000,34FCB96C1C10,168.131.181.117,D88F7626F4D1,2019,9,30,21,11
2669,2669,NaN,도서관열람실,2019-09-30 21:11:00,2019-09-30 21:13:00,101.000000,34FCB96C1C10,168.131.181.117,D46D6DEA68E8,2019,9,30,21,11
2670,2670,NaN,도서관열람실,2019-09-30 21:20:00,2019-09-30 21:27:00,395.000001,34FCB96C1C10,168.131.181.117,D46D6DEA68E8,2019,9,30,21,20
2671,2671,148460,도서관열람실,2019-09-30 21:21:00,2019-09-30 22:21:00,3606.000000,34FCB96C1C10,168.131.181.117,D4A33D3A4EEE,2019,9,30,21,21
2672,2672,NaN,도서관열람실,2019-09-30 21:30:00,2019-09-30 21:54:00,1439.000000,34FCB96C1C10,168.131.181.117,88AE0717B136,2019,9,30,21,30
2673,2673,NaN,도서관열람실,2019-09-30 21:32:00,2019-09-30 21:33:00,59.000000,34FCB96C1C10,168.131.181.117,B0702D05DCAA,2019,9,30,21,32
2674,2674,161089,도서관열람실,2019-09-30 21:34:00,2019-09-30 21:46:00,760.000000,34FCB96C1C10,168.131.181.117,B0702D05DCAA,2019,9,30,21,34
2675,2675,130328,도서관열람실,2019-09-30 21:37:00,2019-09-30 22:51:00,4383.000000,34FCB96C1C10,168.131.181.117,D88F7626F4D1,2019,9,30,21,37
2676,2676,142880,도서관열람실,2019-09-30 21:38:00,2019-09-30 21:39:00,106.000000,34FCB96C1C10,168.131.181.117,D4619DF0765D,2019,9,30,21,38
2677,2677,122489,도서관열람실,2019-09-30 21:39:00,2019-09-30 21:54:00,934.000000,34FCB96C1C00,168.131.181.117,ACEE9E9E1664,2019,9,30,21,39
2678,2678,104867,도서관열람실,2019-09-30 21:44:00,2019-09-30 22:31:00,2844.000000,34FCB96C1C10,168.131.181.117,C8FF2836A60F,2019,9,30,21,44
2679,2679,140170,도서관열람실,2019-09-30 21:58:00,2019-09-30 23:30:00,5517.000000,34FCB96C1C10,168.131.181.117,88AE0717B136,2019,9,30,21,58
2680,2680,163916,도서관열람실,2019-09-30 21:59:00,2019-09-30 22:41:00,2566.000000,34FCB96C1C10,168.131.181.117,D46D6DEA68E8,2019,9,30,21,59
2681,2681,141188,도서관열람실,2019-09-30 22:00:00,2019-09-30 22:12:00,694.000000,34FCB96C1C10,168.131.181.117,B4B6767157B9,2019,9,30,22,0
2682,2682,148460,도서관열람실,2019-09-30 22:30:00,2019-09-30 23:33:00,3736.000000,34FCB96C1C10,168.131.181.117,D4A33D3A4EEE,2019,9,30,22,30
2683,2683,174403,도서관열람실,2019-09-30 22:37:00,2019-09-30 23:02:00,1473.000000,34FCB96C1C10,168.131.181.117,D0C5F3D6671C,2019,9,30,22,37
2684,2684,130328,도서관열람실,2019-09-30 22:51:00,2019-09-30 22:52:00,81.000000,34FCB96C1C10,168.131.181.117,D88F7626F4D1,2019,9,30,22,51
2685,2685,104867,도서관열람실,2019-09-30 22:54:00,2019-09-30 23:34:00,2379.000000,34FCB96C1C10,168.131.181.117,C8FF2836A60F,2019,9,30,22,54

In [83]:
ap_data = ap_data.loc[ap_data['username'].notnull(),:]

In [84]:
ap_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1966 entries, 2 to 2686
Data columns (total 14 columns):
Unnamed: 0              1966 non-null int64
username                1966 non-null object
place                   1966 non-null object
acctstarttime           1966 non-null datetime64[ns]
acctstoptime            1966 non-null datetime64[ns]
acctsessiontime         1966 non-null float64
calledstationid         1966 non-null object
ipaddress               1966 non-null object
callingstationid        1966 non-null object
acctstarttime_year      1966 non-null int64
acctstarttime_month     1966 non-null int64
acctstarttime_day       1966 non-null int64
acctstarttime_hour      1966 non-null int64
acctstarttime_minute    1966 non-null int64
dtypes: datetime64[ns](2), float64(1), int64(6), object(5)
memory usage: 230.4+ KB

In [85]:
ap_data.head()

,Unnamed: 0,username,place,acctstarttime,acctstoptime,acctsessiontime,calledstationid,ipaddress,callingstationid,acctstarttime_year,acctstarttime_month,acctstarttime_day,acctstarttime_hour,acctstarttime_minute
2,2,151782,도서관열람실,2019-09-20 00:10:00,2019-09-20 00:11:00,64.0,34FCB96C1C10,168.131.181.117,886B6E27E0B5,2019,9,20,0,10
4,4,121742,도서관열람실,2019-09-20 07:31:00,2019-09-20 09:51:00,8405.0,34FCB96C1C10,168.131.181.117,3C9509853341,2019,9,20,7,31
6,6,b7931,도서관열람실,2019-09-20 07:35:00,2019-09-20 07:39:00,227.0,34FCB96C1C00,168.131.181.117,44783E0C17AA,2019,9,20,7,35
8,8,176272,도서관열람실,2019-09-20 07:39:00,2019-09-20 10:53:00,11673.0,34FCB96C1C00,168.131.181.117,9CE6E7CDDA56,2019,9,20,7,39
10,10,happy00727,도서관열람실,2019-09-20 07:59:00,2019-09-20 08:00:00,50.0,34FCB96C1C00,168.131.181.117,F8E61AFD6E5F,2019,9,20,7,59

In [86]:
ap_data = ap_data.reset_index(drop=True)

In [87]:
ap_data = ap_data.drop('Unnamed: 0', axis = 1)

In [88]:
ap_data.head()

,username,place,acctstarttime,acctstoptime,acctsessiontime,calledstationid,ipaddress,callingstationid,acctstarttime_year,acctstarttime_month,acctstarttime_day,acctstarttime_hour,acctstarttime_minute
0,151782,도서관열람실,2019-09-20 00:10:00,2019-09-20 00:11:00,64.0,34FCB96C1C10,168.131.181.117,886B6E27E0B5,2019,9,20,0,10
1,121742,도서관열람실,2019-09-20 07:31:00,2019-09-20 09:51:00,8405.0,34FCB96C1C10,168.131.181.117,3C9509853341,2019,9,20,7,31
2,b7931,도서관열람실,2019-09-20 07:35:00,2019-09-20 07:39:00,227.0,34FCB96C1C00,168.131.181.117,44783E0C17AA,2019,9,20,7,35
3,176272,도서관열람실,2019-09-20 07:39:00,2019-09-20 10:53:00,11673.0,34FCB96C1C00,168.131.181.117,9CE6E7CDDA56,2019,9,20,7,39
4,happy00727,도서관열람실,2019-09-20 07:59:00,2019-09-20 08:00:00,50.0,34FCB96C1C00,168.131.181.117,F8E61AFD6E5F,2019,9,20,7,59

In [89]:
#7열이라고 예상되는 것만 뽑음

# ap_data = ap_data.loc[((ap_data['calledstationid'] == '34FCB96C1C10') | (ap_data['calledstationid'] == '34FCB96C1C00')), :]

In [90]:
ap_data = ap_data.loc[((ap_data['ipaddress'] == '168.131.181.117')), :]

In [91]:
ap_data = ap_data.reset_index(drop=True)

In [92]:
ap_data.head(-1)

,username,place,acctstarttime,acctstoptime,acctsessiontime,calledstationid,ipaddress,callingstationid,acctstarttime_year,acctstarttime_month,acctstarttime_day,acctstarttime_hour,acctstarttime_minute
0,151782,도서관열람실,2019-09-20 00:10:00,2019-09-20 00:11:00,64.000000,34FCB96C1C10,168.131.181.117,886B6E27E0B5,2019,9,20,0,10
1,121742,도서관열람실,2019-09-20 07:31:00,2019-09-20 09:51:00,8405.000000,34FCB96C1C10,168.131.181.117,3C9509853341,2019,9,20,7,31
2,b7931,도서관열람실,2019-09-20 07:35:00,2019-09-20 07:39:00,227.000000,34FCB96C1C00,168.131.181.117,44783E0C17AA,2019,9,20,7,35
3,176272,도서관열람실,2019-09-20 07:39:00,2019-09-20 10:53:00,11673.000000,34FCB96C1C00,168.131.181.117,9CE6E7CDDA56,2019,9,20,7,39
4,happy00727,도서관열람실,2019-09-20 07:59:00,2019-09-20 08:00:00,50.000000,34FCB96C1C00,168.131.181.117,F8E61AFD6E5F,2019,9,20,7,59
5,133348,도서관열람실,2019-09-20 08:06:00,2019-09-20 08:42:00,2184.000000,34FCB96C1C10,168.131.181.117,A82BB9D2FD9C,2019,9,20,8,6
6,145804,도서관열람실,2019-09-20 08:06:00,2019-09-20 09:20:00,4391.000000,34FCB96C1C00,168.131.181.117,24F5AA72FB87,2019,9,20,8,6
7,122551,도서관열람실,2019-09-20 08:21:00,2019-09-20 09:29:00,4054.000000,34FCB96C1C10,168.131.181.117,C82158FBF97D,2019,9,20,8,21
8,155544,도서관열람실,2019-09-20 08:22:00,2019-09-20 09:55:00,5525.000000,34FCB96C1C10,168.131.181.117,DC0B34AEDFFD,2019,9,20,8,22
9,8910374,도서관열람실,2019-09-20 08:37:00,2019-09-20 08:38:00,55.000000,34FCB96C1C00,168.131.181.117,D4A33D052AF7,2019,9,20,8,37
10,133575,도서관열람실,2019-09-20 08:40:00,2019-09-20 08:45:00,287.000000,34FCB96C1C00,168.131.181.117,D868C36D1DD1,2019,9,20,8,40
11,133369,도서관열람실,2019-09-20 08:48:00,2019-09-20 09:13:00,1478.000000,34FCB96C1C10,168.131.181.117,548CA0785145,2019,9,20,8,48
12,160893,도서관열람실,2019-09-20 08:56:00,2019-09-20 09:40:00,2668.000000,34FCB96C1C10,168.131.181.117,948BC112B3F8,2019,9,20,8,56
13,193482,도서관열람실,2019-09-20 09:03:00,2019-09-20 11:01:00,7060.000000,34FCB96C1C10,168.131.181.117,BCA58BECA067,2019,9,20,9,3
14,163848,도서관열람실,2019-09-20 09:12:00,2019-09-20 11:26:00,8008.000000,34FCB96C1C10,168.131.181.117,1002B5144295,2019,9,20,9,12
15,145636,도서관열람실,2019-09-20 09:15:00,2019-09-20 12:49:00,12799.000000,34FCB96C1C10,168.131.181.117,0C8BFD9B3903,2019,9,20,9,15
16,122551,도서관열람실,2019-09-20 09:32:00,2019-09-20 10:51:00,4729.000000,34FCB96C1C10,168.131.181.117,C82158FBF97D,2019,9,20,9,32
17,70644,도서관열람실,2019-09-20 09:35:00,2019-09-20 09:35:00,21.000000,34FCB96C1C00,168.131.181.117,BCEC5D1D1626,2019,9,20,9,35
18,134787,도서관열람실,2019-09-20 09:35:00,2019-09-20 10:21:00,2788.000000,34FCB96C1C10,168.131.181.117,948BC1541B0A,2019,9,20,9,35
19,132104,도서관열람실,2019-09-20 09:43:00,2019-09-20 12:42:00,10744.000000,34FCB96C1C10,168.131.181.117,30E37AE97C7B,2019,9,20,9,43
20,160893,도서관열람실,2019-09-20 09:50:00,2019-09-20 10:45:00,3270.000000,34FCB96C1C10,168.131.181.117,948BC112B3F8,2019,9,20,9,50
21,143333,도서관열람실,2019-09-20 09:52:00,2019-09-20 09:53:00,29.999999,34FCB96C1C10,168.131.181.117,5076AF6F5D24,2019,9,20,9,52
22,133369,도서관열람실,2019-09-20 09:55:00,2019-09-20 11:25:00,5380.000000,34FCB96C1C10,168.131.181.117,548CA0785145,2019,9,20,9,55
23,133851,도서관열람실,2019-09-20 09:56:00,2019-09-20 13:47:00,13875.000000,34FCB96C1C10,168.131.181.117,3052CB684B6D,2019,9,20,9,56
24,141188,도서관열람실,2019-09-20 09:58:00,2019-09-20 09:59:00,71.000000,34FCB96C1C10,168.131.181.117,9CE65E2204BF,2019,9,20,9,58
25,155544,도서관열람실,2019-09-20 09:58:00,2019-09-20 10:52:00,3250.000000,34FCB96C1C10,168.131.181.117,DC0B34AEDFFD,2019,9,20,9,58
26,193321,도서관열람실,2019-09-20 10:05:00,2019-09-20 11:39:00,5666.000000,34FCB96C1C10,168.131.181.117,A0C5896C8A09,2019,9,20,10,5
27,124710,도서관열람실,2019-09-20 10:06:00,2019-09-20 11:44:00,5854.000000,34FCB96C1C10,168.131.181.117,60F6776F35EC,2019,9,20,10,6
28,120509,도서관열람실,2019-09-20 10:11:00,2019-09-20 10:13:00,82.000000,34FCB96C1C00,168.131.181.117,B0702DDDA055,2019,9,20,10,11
29,193482,도서관열람실,2019-09-20 10:12:00,2019-09-20 10:24:00,709.000000,34FCB96C1C10,168.131.181.117,983B8F8FF5D9,2019,9,20,10,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1935,163899,도서관열람실,2019-09-30 19:37:00,2019-09-30 20:04:00,1614.000000,34FCB96C1C10,168.131.181.117,C4618BC08AF0,2019,9,30,19,37
1936,150300,도서관열람실,2019-09-30 19:42:00,2019-09-30 19:43:00,80.000000,34FCB96C1C10,168.131.181.117,5077053FFCD3,2019,9,30,19,42
1937,184987,도서관열람실,2019-09-30 19:50:00,2019-09-30 20:09:00,1103.000000,34FCB96C1C10,168.131.181.117,886B6E1559E1,2019,9,30,19,50
1938,192433,도서관열람실,2019-09-30 19:53:00,2019-09-30 19:53:00,49.000000,34FCB96C1C10,168.131.181.117,E42B34473850,2019,9,30,19,53
1939,122489,도서관열람실,2019-09-30 20:01:00,2019-09-30 20:41:00,2396.000000,34FCB96C1C00,168.131.181.117,ACEE9E9E1664,2019,9,30,20,1
1940,183412,도서관열람실,2019-09-30 20:04:00,2019-09-30 20:11:00,423.000000,34FCB96C1C10,168.131.181.117,5077053FABCD,2019,9,30,20,4
1941,84991,도서관열람실,2019-09-30 20:21:00,2019-09-30 22:56:00,9307.000000,34FCB96C1C10,168.131.181.117,A0C58965F10D,2019,9,30,20,21
1942,140170,도서관열람실,2019-09-30 20:24:00,2019-09-30 22:01:00,5870.000000,34FCB96C1C10,168.131.181.117,1856802F8D16,2019,9,30,20,24
1943,141291,도서관열람실,2019-09-30 20:35:00,2019-09-30 20:44:00,521.000000,34FCB96C1C10,168.131.181.117,0057C1E61CC1,2019,9,30,20,35
1944,174403,도서관열람실,2019-09-30 20:35:00,2019-09-30 20:51:00,961.000000,34FCB96C1C10,168.131.181.117,D0C5F3D6671C,2019,9,30,20,35
1945,163916,도서관열람실,2019-09-30 20:54:00,2019-09-30 21:07:00,794.000000,34FCB96C1C10,168.131.181.117,D46D6DEA68E8,2019,9,30,20,54
1946,132104,도서관열람실,2019-09-30 20:54:00,2019-09-30 23:59:00,11089.000000,34FCB96C1C00,168.131.181.117,30E37AE97C7B,2019,9,30,20,54
1947,163619,도서관열람실,2019-09-30 20:55:00,2019-09-30 22:13:00,4671.000000,34FCB96C1C10,168.131.181.117,7C5CF85A8DFE,2019,9,30,20,55
1948,134477,도서관열람실,2019-09-30 21:01:00,2019-09-30 21:03:00,99.000000,34FCB96C1C10,168.131.181.117,6C006BC9F3E3,2019,9,30,21,1
1949,112763,도서관열람실,2019-09-30 21:05:00,2019-09-30 21:06:00,38.000000,34FCB96C1C00,168.131.181.117,E4FAEDC44124,2019,9,30,21,5
1950,174403,도서관열람실,2019-09-30 21:06:00,2019-09-30 21:22:00,972.000000,34FCB96C1C10,168.131.181.117,D0C5F3D6671C,2019,9,30,21,6
1951,163168,도서관열람실,2019-09-30 21:07:00,2019-09-30 21:28:00,1298.000000,34FCB96C1C00,168.131.181.117,E0946768E5C5,2019,9,30,21,7
1952,148460,도서관열람실,2019-09-30 21:21:00,2019-09-30 22:21:00,3606.000000,34FCB96C1C10,168.131.181.117,D4A33D3A4EEE,2019,9,30,21,21
1953,161089,도서관열람실,2019-09-30 21:34:00,2019-09-30 21:46:00,760.000000,34FCB96C1C10,168.131.181.117,B0702D05DCAA,2019,9,30,21,34
1954,130328,도서관열람실,2019-09-30 21:37:00,2019-09-30 22:51:00,4383.000000,34FCB96C1C10,168.131.181.117,D88F7626F4D1,2019,9,30,21,37
1955,142880,도서관열람실,2019-09-30 21:38:00,2019-09-30 21:39:00,106.000000,34FCB96C1C10,168.131.181.117,D4619DF0765D,2019,9,30,21,38
1956,122489,도서관열람실,2019-09-30 21:39:00,2019-09-30 21:54:00,934.000000,34FCB96C1C00,168.131.181.117,ACEE9E9E1664,2019,9,30,21,39
1957,104867,도서관열람실,2019-09-30 21:44:00,2019-09-30 22:31:00,2844.000000,34FCB96C1C10,168.131.181.117,C8FF2836A60F,2019,9,30,21,44
1958,140170,도서관열람실,2019-09-30 21:58:00,2019-09-30 23:30:00,5517.000000,34FCB96C1C10,168.131.181.117,88AE0717B136,2019,9,30,21,58
1959,163916,도서관열람실,2019-09-30 21:59:00,2019-09-30 22:41:00,2566.000000,34FCB96C1C10,168.131.181.117,D46D6DEA68E8,2019,9,30,21,59
1960,141188,도서관열람실,2019-09-30 22:00:00,2019-09-30 22:12:00,694.000000,34FCB96C1C10,168.131.181.117,B4B6767157B9,2019,9,30,22,0
1961,148460,도서관열람실,2019-09-30 22:30:00,2019-09-30 23:33:00,3736.000000,34FCB96C1C10,168.131.181.117,D4A33D3A4EEE,2019,9,30,22,30
1962,174403,도서관열람실,2019-09-30 22:37:00,2019-09-30 23:02:00,1473.000000,34FCB96C1C10,168.131.181.117,D0C5F3D6671C,2019,9,30,22,37
1963,130328,도서관열람실,2019-09-30 22:51:00,2019-09-30 22:52:00,81.000000,34FCB96C1C10,168.131.181.117,D88F7626F4D1,2019,9,30,22,51
1964,104867,도서관열람실,2019-09-30 22:54:00,2019-09-30 23:34:00,2379.000000,34FCB96C1C10,168.131.181.117,C8FF2836A60F,2019,9,30,22,54

In [93]:
date_data =pd.DataFrame()
date_data.loc[:,'date']=pd.Series(pd.date_range("2019-9-20 00:00", "2019-10-01 00:00", freq="H"))
date_data['all_num']=0

date_data['datetime'] = pd.to_datetime(date_data['date'])
date_data = date_data.set_index("datetime")
date_data.head(-1)

                                   date  all_num
datetime
2019-09-20 00:00:00 2019-09-20 00:00:00        0
2019-09-20 01:00:00 2019-09-20 01:00:00        0
2019-09-20 02:00:00 2019-09-20 02:00:00        0
2019-09-20 03:00:00 2019-09-20 03:00:00        0
2019-09-20 04:00:00 2019-09-20 04:00:00        0
...                                 ...      ...
2019-09-30 19:00:00 2019-09-30 19:00:00        0
2019-09-30 20:00:00 2019-09-30 20:00:00        0
2019-09-30 21:00:00 2019-09-30 21:00:00        0
2019-09-30 22:00:00 2019-09-30 22:00:00        0
2019-09-30 23:00:00 2019-09-30 23:00:00        0

[264 rows x 2 columns]

In [94]:
date_data.head(5)

                                   date  all_num
datetime
2019-09-20 00:00:00 2019-09-20 00:00:00        0
2019-09-20 01:00:00 2019-09-20 01:00:00        0
2019-09-20 02:00:00 2019-09-20 02:00:00        0
2019-09-20 03:00:00 2019-09-20 03:00:00        0
2019-09-20 04:00:00 2019-09-20 04:00:00        0

In [95]:
import datetime
timeStr = '2019-09-21 12:11:32'
Thistime = datetime.datetime.strptime(timeStr, '%Y-%m-%d %H:%M:%S')
yourDatetime = Thistime.replace(hour=Thistime.hour+1, minute=0, second=0)
print(yourDatetime)
ex = pd.to_datetime(yourDatetime, infer_datetime_format=True)
print(ex)

2019-09-21 13:00:00
2019-09-21 13:00:00

In [96]:
import sys
for idx1, row1 in ap_data.iterrows():
    #print(row1.acctsessiontime)
    for i in range(int(row1.acctsessiontime)//3600 + 1):
        date_data.loc[(date_data.index.hour==row1.acctstarttime_hour+i) & (date_data.index.day==row1.acctstarttime_day),'all_num']+=1
        #print(i)
        #print(row1.acctstarttime_hour, row1.acctstarttime_year)
        #date_data.ix[(row1.'acctstarttime_hour'  date_data.ix[시간단위 자르기(row1.)+i(1시간 추가)]['allnum']+=1

In [97]:
date_data.head(50)

                                   date  all_num
datetime
2019-09-20 00:00:00 2019-09-20 00:00:00        1
2019-09-20 01:00:00 2019-09-20 01:00:00        0
2019-09-20 02:00:00 2019-09-20 02:00:00        0
2019-09-20 03:00:00 2019-09-20 03:00:00        0
2019-09-20 04:00:00 2019-09-20 04:00:00        0
2019-09-20 05:00:00 2019-09-20 05:00:00        0
2019-09-20 06:00:00 2019-09-20 06:00:00        0
2019-09-20 07:00:00 2019-09-20 07:00:00        4
2019-09-20 08:00:00 2019-09-20 08:00:00       10
2019-09-20 09:00:00 2019-09-20 09:00:00       18
2019-09-20 10:00:00 2019-09-20 10:00:00       25
2019-09-20 11:00:00 2019-09-20 11:00:00       28
2019-09-20 12:00:00 2019-09-20 12:00:00       22
2019-09-20 13:00:00 2019-09-20 13:00:00       29
2019-09-20 14:00:00 2019-09-20 14:00:00       30
2019-09-20 15:00:00 2019-09-20 15:00:00       41
2019-09-20 16:00:00 2019-09-20 16:00:00       32
2019-09-20 17:00:00 2019-09-20 17:00:00       29
2019-09-20 18:00:00 2019-09-20 18:00:00       22
2019-09-20 19:00:00 2019-09-20 19:00:00       17
2019-09-20 20:00:00 2019-09-20 20:00:00       12
2019-09-20 21:00:00 2019-09-20 21:00:00       16
2019-09-20 22:00:00 2019-09-20 22:00:00       14
2019-09-20 23:00:00 2019-09-20 23:00:00        6
2019-09-21 00:00:00 2019-09-21 00:00:00        1
2019-09-21 01:00:00 2019-09-21 01:00:00        0
2019-09-21 02:00:00 2019-09-21 02:00:00        0
2019-09-21 03:00:00 2019-09-21 03:00:00        0
2019-09-21 04:00:00 2019-09-21 04:00:00        0
2019-09-21 05:00:00 2019-09-21 05:00:00        0
2019-09-21 06:00:00 2019-09-21 06:00:00        0
2019-09-21 07:00:00 2019-09-21 07:00:00        4
2019-09-21 08:00:00 2019-09-21 08:00:00        6
2019-09-21 09:00:00 2019-09-21 09:00:00        8
2019-09-21 10:00:00 2019-09-21 10:00:00        9
2019-09-21 11:00:00 2019-09-21 11:00:00       11
2019-09-21 12:00:00 2019-09-21 12:00:00       12
2019-09-21 13:00:00 2019-09-21 13:00:00       14
2019-09-21 14:00:00 2019-09-21 14:00:00       23
2019-09-21 15:00:00 2019-09-21 15:00:00       24
2019-09-21 16:00:00 2019-09-21 16:00:00       29
2019-09-21 17:00:00 2019-09-21 17:00:00       18
2019-09-21 18:00:00 2019-09-21 18:00:00       14
2019-09-21 19:00:00 2019-09-21 19:00:00       11
2019-09-21 20:00:00 2019-09-21 20:00:00       14
2019-09-21 21:00:00 2019-09-21 21:00:00       10
2019-09-21 22:00:00 2019-09-21 22:00:00        8
2019-09-21 23:00:00 2019-09-21 23:00:00        7
2019-09-22 00:00:00 2019-09-22 00:00:00        1
2019-09-22 01:00:00 2019-09-22 01:00:00        0

In [98]:
date_data.to_excel('exact_data_910_log_7.xlsx')