In [2]:
import tensorflow as tf
#Data Manipulation
import numpy as np
import pandas as pd

#Visualization
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

#Importing Dependencies
%matplotlib inline

import math

C:\Users\user\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\user\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\user\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\user\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\user\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\user\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\user\Anaconda3\envs\tensorflow\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\user\Anaconda3\envs\tensorflow\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\user\Anaconda3\envs\tensorflow\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\user\Anaconda3\envs\tensorflow\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\user\Anaconda3\envs\tensorflow\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\user\Anaconda3\envs\tensorflow\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [3]:
#파일 불러오기
ap_data = pd.read_csv('LOG_CONCAT_ssy.csv', engine='python', index_col=0)

In [4]:
ap_data.head(5)

,jnuradacctid,acctsessionid,acctuniqueid,username,groupname,realm,nasipaddress,nasportid,nasporttype,acctstarttime,...,callingstationid,acctterminatecause,servicetype,framedprotocol,framedipaddress,acctstartdelay,acctstopdelay,xascendsessionsvrkey,server,sequence
3.0,80667513.0,00002801-00000470,977346d2dd8a9ba2d2eb0a07c9c81541,192777,NaN,NaN,168.131.13.224,0.0,Wireless-802.11,2019-09-20 0:25,...,08-AE-D6-30-A0-33,NaN,NaN,NaN,10.10.12.83,0.0,0.0,NaN,168.131.33.63,0
11.0,80667663.0,00003001-0000023D,45c4ba1bc250e54cfe82030e9c09ad1a,171594,NaN,NaN,168.131.13.224,0.0,Wireless-802.11,2019-09-20 1:24,...,A8-2B-B9-19-C8-5C,User-Request,NaN,NaN,10.10.1.144,0.0,0.0,NaN,168.131.33.63,1
12.0,80668351.0,00004001-00000236,d115f6d0b261fc722c5ec9a04823f9f3,193562,NaN,NaN,168.131.13.224,0.0,Wireless-802.11,2019-09-20 0:22,...,C4-93-D9-CE-A7-5D,User-Request,NaN,NaN,168.131.214.29,0.0,0.0,NaN,168.131.33.63,2
36.0,80675437.0,00021401-000011DC,7bb6ebbfe7ef1f768ace5bbf47c061f1,193562,NaN,NaN,168.131.13.222,0.0,Wireless-802.11,2019-09-20 0:26,...,C4-93-D9-CE-A7-5D,User-Request,NaN,NaN,10.10.40.252,0.0,0.0,NaN,168.131.33.63,3
37.0,80675438.0,00021401-000011DD,6b69327f47c917102170c73c08032506,142825,NaN,NaN,168.131.13.222,0.0,Wireless-802.11,2019-09-20 0:55,...,64-7B-CE-8D-64-7A,NaN,NaN,NaN,10.10.60.142,0.0,0.0,NaN,168.131.33.63,4

In [5]:
ap_data.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 125115 entries, 3.0 to 72799.0
Data columns (total 31 columns):
jnuradacctid            125024 non-null float64
acctsessionid           125020 non-null object
acctuniqueid            125024 non-null object
username                125024 non-null object
groupname               0 non-null float64
realm                   3664 non-null object
nasipaddress            125024 non-null object
nasportid               125024 non-null float64
nasporttype             125024 non-null object
acctstarttime           125024 non-null object
acctstoptime            125024 non-null object
real_time               125024 non-null object
acctsessiontime         125115 non-null int64
acctauthentic           118367 non-null object
connectinfo_start       51343 non-null object
connectinfo_stop        42621 non-null object
acctinputoctets         125024 non-null float64
acctoutputoctets        125024 non-null float64
calledstationid         125024 non-null object
ipaddress               125024 non-null object
place                   124068 non-null object
callingstationid        125024 non-null object
acctterminatecause      107381 non-null object
servicetype             0 non-null float64
framedprotocol          0 non-null float64
framedipaddress         125024 non-null object
acctstartdelay          125024 non-null float64
acctstopdelay           125024 non-null float64
xascendsessionsvrkey    0 non-null float64
server                  125024 non-null object
sequence                125115 non-null int64
dtypes: float64(10), int64(2), object(19)
memory usage: 30.5+ MB

In [6]:
ap_data = ap_data.reset_index(drop=True)

In [7]:
ap_data.head(5)

,jnuradacctid,acctsessionid,acctuniqueid,username,groupname,realm,nasipaddress,nasportid,nasporttype,acctstarttime,...,callingstationid,acctterminatecause,servicetype,framedprotocol,framedipaddress,acctstartdelay,acctstopdelay,xascendsessionsvrkey,server,sequence
0,80667513.0,00002801-00000470,977346d2dd8a9ba2d2eb0a07c9c81541,192777,NaN,NaN,168.131.13.224,0.0,Wireless-802.11,2019-09-20 0:25,...,08-AE-D6-30-A0-33,NaN,NaN,NaN,10.10.12.83,0.0,0.0,NaN,168.131.33.63,0
1,80667663.0,00003001-0000023D,45c4ba1bc250e54cfe82030e9c09ad1a,171594,NaN,NaN,168.131.13.224,0.0,Wireless-802.11,2019-09-20 1:24,...,A8-2B-B9-19-C8-5C,User-Request,NaN,NaN,10.10.1.144,0.0,0.0,NaN,168.131.33.63,1
2,80668351.0,00004001-00000236,d115f6d0b261fc722c5ec9a04823f9f3,193562,NaN,NaN,168.131.13.224,0.0,Wireless-802.11,2019-09-20 0:22,...,C4-93-D9-CE-A7-5D,User-Request,NaN,NaN,168.131.214.29,0.0,0.0,NaN,168.131.33.63,2
3,80675437.0,00021401-000011DC,7bb6ebbfe7ef1f768ace5bbf47c061f1,193562,NaN,NaN,168.131.13.222,0.0,Wireless-802.11,2019-09-20 0:26,...,C4-93-D9-CE-A7-5D,User-Request,NaN,NaN,10.10.40.252,0.0,0.0,NaN,168.131.33.63,3
4,80675438.0,00021401-000011DD,6b69327f47c917102170c73c08032506,142825,NaN,NaN,168.131.13.222,0.0,Wireless-802.11,2019-09-20 0:55,...,64-7B-CE-8D-64-7A,NaN,NaN,NaN,10.10.60.142,0.0,0.0,NaN,168.131.33.63,4

In [8]:
#사용할 칼럼만 추출
ap_data = ap_data[["username","number","place","acctstarttime","acctstoptime",'real_time',"acctsessiontime","calledstationid","ipaddress","callingstationid"]]

KeyError: "['number'] not in index"

In [ ]:
ap_data.head(-1)

In [ ]:
ap_data['acctstoptime'] =  pd.to_datetime(ap_data['acctstoptime'], infer_datetime_format=True)

In [ ]:
ap_data['acctstarttime'] =  pd.to_datetime(ap_data['acctstarttime'], infer_datetime_format=True)

In [ ]:
ap_data['acctstarttime_year'] = ap_data['acctstarttime'].dt.year
ap_data['acctstarttime_month'] = ap_data['acctstarttime'].dt.month
ap_data['acctstarttime_day'] = ap_data['acctstarttime'].dt.day
ap_data['acctstarttime_hour'] = ap_data['acctstarttime'].dt.hour
ap_data['acctstarttime_minute'] = ap_data['acctstarttime'].dt.minute

In [ ]:
ap_data.info()

In [ ]:
ap_data.head(5)

In [ ]:
ap_data.isnull().sum()

In [ ]:
#null값을 가진 행 모두 제거
ap_data = ap_data.dropna(how = 'any',axis = 0)

In [ ]:
ap_data.shape

In [ ]:
ap_data.head(20)

In [ ]:
# ap_data.describe()

In [ ]:
# date_data =pd.DataFrame()
# date_data.loc[:,'date']=pd.Series(pd.date_range("2019-9-20 00:00", "2019-9-25 00:00", freq="H"))
# date_data['all_num']=0

# date_data['datetime'] = pd.to_datetime(date_data['date'])
# date_data = date_data.set_index("datetime")
# date_data.head(20)

In [ ]:
date_data =pd.DataFrame()
date_data.loc[:,'date']=pd.Series(pd.date_range("2019-9-20", "2019-9-25", freq="60T"))

#여기서 00:00:00의 all_num의 의미는 0-5분까지의 사람 숫자로 계산할 것이다.
date_data['all_num']=0
date_data.info()
# date_data.head(20)

In [ ]:
date_data.head(5)

In [ ]:
# date_data.iloc[:,0]

In [ ]:
class Queue:
    queue = []
    
    def __init__(self):
        self.queue = [] 
 
    def push(self, num):
        if self.size() == 10:
            self.pop()
        self.queue.append(num)
        
 
    def pop(self):
        return self.queue.pop(0) if len(self.queue) != 0 else -1
 
    def size(self):
        return len(self.queue)
 
    def empty(self):
        return 1 if self.size() == 0 else 0
 
    def front(self):
        return self.queue[0] if self.size() != 0 else -1
 
    def back(self):
        return self.queue[-1] if self.size() != 0 else -1

In [ ]:
 
#몇개의 숫자를 받을건지

queue = Queue()
queue.push(1)
queue.push(2)
queue.push(3)
queue.push(4)
queue.push(5)
queue.push(6)
queue.push(7)
queue.push(8)
queue.push(9)
queue.push(10)
queue.push(11)
queue.push(12)
queue.pop()
queue.pop()
queue.pop()

# count = list_duplicates_of(queue,7)
# print(count)
print(queue.queue)

In [ ]:
# 중복 인덱스 값 추출

def list_duplicates_of(seq,item):
    start_at = -1
    locs = []
    while True:
        try:
            loc = seq.index(item,start_at+1)
        except ValueError:
            break
        else:
            locs.append(loc)
            start_at = loc
    return locs

In [ ]:
list = [7]
value =list[0]

In [ ]:
list_duplicates_of(queue.queue,list[0])

In [ ]:
queue.queue[1]

In [ ]:
ap_data.head(20)

In [ ]:
# 중복값 제거 (큐 이용)

queue1 = Queue()  #username 0
queue2 = Queue()  #acctstarttime  3
queue3 = Queue() #acctsessiontime   6
queue4 = Queue()  #index  1

minn = 0

for idx1, row1 in date_data.iterrows():
    queue1.queue = [] 
    queue2.queue = [] 
    queue3.queue = [] 
    queue4.queue = []
    print("date_data : ", row1.date)
    
    for idx, row in ap_data.iterrows(): 
        print("idx : ", idx)
        timestamp = row.acctstarttime
        print("timestamp : ", timestamp)
        
        while(date_data.iat[idx1,0] < timestamp) and (timestamp < date_data.iat[idx1+1,0]):
            list = queue1.queue
            print("list : ", list)
            print("username : ", ap_data.iat[idx-1,0])
            if ap_data.iat[idx-1,0] in list :
                print("중복!!")
                list1 = list_duplicates_of(queue1.queue, ap_data.iat[idx-1,0])
                print("list1 : ", list1)
                
                if ap_data.iat[idx,6] < queue3.queue[list1[0]]:
                    minn = ap_data.iat[idx-1,1]
                else:
                    minn = queue4.queue[list1[0]] 
                    
                #ap_data = ap_data[ap_data.number != minn]
                break
    
            print("헤이")
            queue1.push(ap_data.iat[idx-1,0])
            print("queue1 : ",queue1.queue)
            queue2.push(ap_data.iat[idx-1,3])
            print("queue2 : ",queue2.queue)
            queue3.push(ap_data.iat[idx-1,6])
            print("queue3 : ",queue3.queue)
            queue4.push(ap_data.iat[idx-1,1]) 
            print("queue4 : ",queue4.queue)
            break

In [ ]:
print(np.nan)

In [ ]:
# # 중복값 제거 (큐 이용)

# queue1 = Queue()  #username 0
# queue2 = Queue()  #acctstarttime  3
# queue3 = Queue() #acctsessiontime   6
# queue4 = Queue()  #index  1

# minn = 0

# for idx1, row1 in date_data.iterrows():
#     queue1.queue = [] 
#     queue2.queue = [] 
#     queue3.queue = [] 
#     queue4.queue = []
#     print("date_data : ", row1.date)
    
#     for idx, row in ap_data.iterrows(): 
#         print("idx : ", idx)
#         timestamp = row.acctstarttime
#         print("timestamp : ", timestamp)
        
#         while(date_data.iat[idx1,0] < timestamp) and (timestamp < date_data.iat[idx1+1,0]):
#             list = queue1.queue
#             print("list : ", list)
#             print("username : ", ap_data.iat[idx-1,0])
            
#             if ap_data.iat[idx-1,0] == 'nan':
#                 break
            
#             if ap_data.iat[idx-1,0] in list :
#                 print("중복!!")
#                 list1 = list_duplicates_of(queue1.queue, ap_data.iat[idx-1,0])
#                 print("list1 : ", list1)
                
#                 if ap_data.iat[idx,6] < queue3.queue[list1[0]]:
#                     minn = ap_data.iat[idx-1,1]
#                 else:
#                     minn = queue4.queue[list1[0]] 
                    
#                 ap_data[[ap_data['number'] == minn],:] = np.nan
#                 #ap_data = ap_data[ap_data.number != minn]
#                 break
      
#             print("헤이")
#             queue1.push(ap_data.iat[idx-1,0])
#             print("queue1 : ",queue1.queue)
#             queue2.push(ap_data.iat[idx-1,3])
#             print("queue2 : ",queue2.queue)
#             queue3.push(ap_data.iat[idx-1,6])
#             print("queue3 : ",queue3.queue)
#             queue4.push(ap_data.iat[idx-1,1]) 
#             print("queue4 : ",queue4.queue)
#             break

                
#             print("헤이")   
#             queue1.push(ap_data.iloc[idx,0])
#             print("queue1 : ",queue1.queue)
#             queue2.push(ap_data.iloc[idx,3])
#             print("queue2 : ",queue2.queue)
#             queue3.push(ap_data.iloc[idx,6])
#             print("queue3 : ",queue3.queue)
#             queue4.push(ap_data.iloc[idx,1]) 
#             print("queue4 : ",queue4.queue)
#             break