In [81]:
import numpy as np
import pandas as pd

In [82]:
air = pd.read_csv('7-3.csv')

In [83]:
air1 = pd.read_csv('7-4.csv')

In [84]:
air.head(100)

   timestamp(Asia/Seoul)  temp(°C)  humid     co2    voc  pm25  light  noise
0       2019-09-09 20:15      27.4   49.6  5000.0  638.4     0  333.9   53.3
1       2019-09-09 20:30      27.4   45.7  5000.0  624.9     0  334.2   53.8
2       2019-09-09 20:45      27.0   44.9  5000.0  633.9     0  338.5   53.4
3       2019-09-09 21:00      26.9   44.8  5000.0  665.4     0  336.9   53.3
4       2019-09-09 21:15      26.8   44.0  5000.0  688.3     0  337.5   53.2
..                   ...       ...    ...     ...    ...   ...    ...    ...
95      2019-09-10 22:00      28.0   56.2  5000.0  685.1     0  346.2   52.7
96      2019-09-10 22:15      27.6   57.6  5000.0  681.0     0  346.3   52.5
97      2019-09-10 22:30      27.6   58.2  5000.0  689.6     0  348.4   52.3
98      2019-09-10 22:45      27.6   58.1  5000.0  664.9     0  349.1   52.0
99      2019-09-10 23:00      27.5   58.7  5000.0  664.1     0  349.6   51.9

[100 rows x 8 columns]

In [85]:
air = air.iloc[952:1432,:]
air = air.reset_index(drop=True)

In [86]:
air

    timestamp(Asia/Seoul)  temp(°C)  humid     co2    voc  pm25  light  noise
0         2019-09-20 0:00      25.7   41.0  4459.0  533.8     0  349.0   50.0
1         2019-09-20 0:15      25.8   41.2  4348.0  530.0     0  158.9   49.9
2         2019-09-20 0:30      25.9   41.8  4168.0  522.5     0    0.0   49.9
3         2019-09-20 0:45      25.9   42.3  3991.1  514.6     0    0.0   50.0
4         2019-09-20 1:00      25.9   42.5  3946.6  512.3     0    0.0   50.0
..                    ...       ...    ...     ...    ...   ...    ...    ...
475      2019-09-24 22:45      25.9   47.7  1569.4  296.9     0  351.3   52.4
476      2019-09-24 23:00      25.5   44.9  1610.4  290.3     0  350.9   52.5
477      2019-09-24 23:15      24.9   46.4  1598.2  285.3     0  351.5   52.2
478      2019-09-24 23:30      25.4   52.7  1613.8  324.4     0  351.1   51.5
479      2019-09-24 23:45      25.8   53.0  1597.0  314.6     0  349.7   50.9

[480 rows x 8 columns]

In [87]:
air1

    timestamp(Asia/Seoul)  temp(°C)  humid     co2    voc  pm25  light  noise
0         2019-09-20 0:00      25.5   41.7  4262.3  613.6   5.6  395.1   50.4
1         2019-09-20 0:15      25.6   42.0  4190.8  612.9   5.7  179.9   50.2
2         2019-09-20 0:30      25.7   42.5  4045.0  586.6   6.0    0.0   50.2
3         2019-09-20 0:45      25.7   43.0  3881.4  575.3   6.1    0.0   50.2
4         2019-09-20 1:00      25.7   43.3  3797.8  570.8   6.1    0.0   50.2
..                    ...       ...    ...     ...    ...   ...    ...    ...
475      2019-09-24 22:45      24.9   51.9  1401.9  304.2  11.9  394.7   52.7
476      2019-09-24 23:00      24.9   48.9  1390.3  295.5  11.2  393.5   52.8
477      2019-09-24 23:15      24.6   48.7  1405.1  308.4  10.4  393.8   52.5
478      2019-09-24 23:30      23.2   59.8  1499.6  370.0  10.1  390.3   51.6
479      2019-09-24 23:45      24.6   56.7  1505.4  358.8  10.9  389.2   51.1

[480 rows x 8 columns]

In [88]:
air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 8 columns):
timestamp(Asia/Seoul)    480 non-null object
temp(°C)                 480 non-null float64
humid                    480 non-null float64
co2                      480 non-null float64
voc                      480 non-null float64
pm25                     480 non-null int64
light                    480 non-null float64
noise                    480 non-null float64
dtypes: float64(6), int64(1), object(1)
memory usage: 30.1+ KB

In [89]:
air1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 8 columns):
timestamp(Asia/Seoul)    480 non-null object
temp(°C)                 480 non-null float64
humid                    480 non-null float64
co2                      480 non-null float64
voc                      480 non-null float64
pm25                     480 non-null float64
light                    480 non-null float64
noise                    480 non-null float64
dtypes: float64(7), object(1)
memory usage: 30.1+ KB

In [90]:
air_data = pd.DataFrame()

air_data['timestamp(Asia/Seoul)'] = air['timestamp(Asia/Seoul)']
air_data['temp(°C)'] = (air['temp(°C)'] + air1['temp(°C)'])/2
air_data['humid'] = (air['humid'] + air1['humid'])/2
air_data['co2'] = (air['co2'] + air1['co2'])/2
air_data['voc'] = (air['voc'] + air1['voc'])/2
air_data['pm25'] = (air['pm25'] + air1['pm25'])/2
air_data['light'] = (air['light'] + air1['light'])/2
air_data['noise'] = (air['noise'] + air1['noise'])/2

In [91]:
air_data.head(-1)

,timestamp(Asia/Seoul),temp(°C),humid,co2,voc,pm25,light,noise
0,2019-09-20 0:00,25.60,41.35,4360.65,573.70,2.80,372.05,50.20
1,2019-09-20 0:15,25.70,41.60,4269.40,571.45,2.85,169.40,50.05
2,2019-09-20 0:30,25.80,42.15,4106.50,554.55,3.00,0.00,50.05
3,2019-09-20 0:45,25.80,42.65,3936.25,544.95,3.05,0.00,50.10
4,2019-09-20 1:00,25.80,42.90,3872.20,541.55,3.05,0.00,50.10
5,2019-09-20 1:15,25.90,43.25,3707.65,532.35,3.20,0.00,50.10
6,2019-09-20 1:30,25.90,43.45,3651.35,528.85,3.35,0.00,50.10
7,2019-09-20 1:45,25.90,43.65,3567.75,523.85,3.50,0.00,50.05
8,2019-09-20 2:00,25.95,43.75,3472.55,518.85,3.60,0.00,50.10
9,2019-09-20 2:15,26.05,43.85,3363.75,511.15,3.60,0.00,50.05
10,2019-09-20 2:30,26.05,44.10,3266.65,505.30,3.65,0.00,50.10
11,2019-09-20 2:45,26.10,44.10,3152.50,497.00,3.75,0.00,50.05
12,2019-09-20 3:00,26.05,44.50,3015.25,484.40,3.90,0.00,50.15
13,2019-09-20 3:15,26.00,45.40,2848.45,470.75,4.00,111.65,52.05
14,2019-09-20 3:30,25.45,48.00,2262.50,398.45,4.45,373.45,52.10
15,2019-09-20 3:45,25.15,48.40,1392.05,261.70,6.30,200.95,52.50
16,2019-09-20 4:00,25.20,48.10,1353.95,281.30,6.45,0.00,50.30
17,2019-09-20 4:15,25.35,48.40,1161.60,244.60,6.70,0.00,50.25
18,2019-09-20 4:30,25.55,49.10,878.35,182.95,7.00,0.00,50.20
19,2019-09-20 4:45,25.60,49.55,640.70,130.10,7.25,0.00,50.15
20,2019-09-20 5:00,25.60,49.90,541.40,104.60,7.35,0.00,50.30
21,2019-09-20 5:15,25.60,50.25,476.60,81.80,7.70,0.00,50.35
22,2019-09-20 5:30,25.50,50.50,448.05,76.35,7.65,0.00,50.40
23,2019-09-20 5:45,25.45,50.70,424.65,64.05,7.80,0.00,50.35
24,2019-09-20 6:00,25.50,50.75,411.10,58.80,7.80,0.00,50.25
25,2019-09-20 6:15,25.60,50.60,400.00,52.80,7.75,0.00,50.30
26,2019-09-20 6:30,25.10,52.95,409.20,72.45,7.30,0.75,51.65
27,2019-09-20 6:45,24.65,55.10,414.05,83.55,6.90,3.40,51.80
28,2019-09-20 7:00,24.65,55.30,419.45,73.85,6.60,359.25,51.85
29,2019-09-20 7:15,24.65,55.20,419.25,60.65,6.45,393.15,51.70
...,...,...,...,...,...,...,...,...
449,2019-09-24 16:15,26.30,47.05,2457.70,352.95,3.05,405.45,53.50
450,2019-09-24 16:30,26.30,47.15,2487.40,348.60,3.10,393.95,52.85
451,2019-09-24 16:45,26.15,47.35,2268.85,321.60,3.35,398.30,53.25
452,2019-09-24 17:00,26.05,47.80,2024.80,299.80,3.70,388.20,52.90
453,2019-09-24 17:15,26.30,47.90,1764.90,261.05,4.50,380.30,52.35
454,2019-09-24 17:30,26.95,49.30,1795.80,292.65,4.80,373.50,52.75
455,2019-09-24 17:45,26.80,50.75,1750.90,289.05,5.05,371.00,52.60
456,2019-09-24 18:00,26.20,52.70,1769.50,302.25,4.70,367.35,53.15
457,2019-09-24 18:15,26.15,54.35,1725.90,322.75,4.45,365.40,52.70
458,2019-09-24 18:30,26.15,53.70,1601.85,305.55,4.70,365.75,52.90
459,2019-09-24 18:45,26.00,55.15,1397.30,274.15,5.30,367.60,53.05
460,2019-09-24 19:00,26.00,55.05,1197.00,236.20,6.20,369.70,53.30
461,2019-09-24 19:15,26.05,55.55,1126.25,229.05,6.40,368.10,53.25
462,2019-09-24 19:30,26.05,56.35,1217.85,260.00,6.25,368.00,53.20
463,2019-09-24 19:45,26.00,57.50,1386.60,294.00,6.15,363.20,53.35
464,2019-09-24 20:00,26.05,58.20,1551.40,323.30,6.45,362.80,53.15
465,2019-09-24 20:15,26.00,58.55,1648.50,337.20,6.80,361.65,53.30
466,2019-09-24 20:30,26.00,58.85,1738.30,350.55,7.20,363.85,53.35
467,2019-09-24 20:45,26.00,58.75,1777.85,355.70,7.10,364.65,53.35
468,2019-09-24 21:00,25.95,59.10,1840.80,364.70,7.20,364.30,53.25
469,2019-09-24 21:15,25.10,54.60,1788.65,340.40,6.95,365.15,52.95
470,2019-09-24 21:30,25.30,47.95,1811.20,318.55,6.70,368.80,53.00
471,2019-09-24 21:45,25.70,49.60,1926.50,360.15,6.80,367.90,51.65
472,2019-09-24 22:00,25.20,56.70,1766.85,357.30,7.05,367.25,53.00
473,2019-09-24 22:15,24.85,60.75,1658.40,371.40,6.75,368.10,52.70
474,2019-09-24 22:30,25.20,57.05,1555.40,335.50,6.35,369.50,52.70
475,2019-09-24 22:45,25.40,49.80,1485.65,300.55,5.95,373.00,52.55
476,2019-09-24 23:00,25.20,46.90,1500.35,292.90,5.60,372.20,52.65
477,2019-09-24 23:15,24.75,47.55,1501.65,296.85,5.20,372.65,52.35
478,2019-09-24 23:30,24.30,56.25,1556.70,347.20,5.05,370.70,51.55

In [92]:
air_data['timestamp(Asia/Seoul)'] = pd.to_datetime(air_data['timestamp(Asia/Seoul)']) 

air_data.set_index(air_data['timestamp(Asia/Seoul)'], inplace=True)

air_data = air_data.resample('60T', how={'temp(°C)':np.average,'humid':np.average, 
                            'co2':np.average, 'voc':np.average, 'pm25':np.average, 'light':np.average, 'noise':np.average}).fillna(0)

C:\Users\user\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...)..apply(<func>)

In [94]:
air_data.head()

,temp(°C),humid,co2,voc,pm25,light,noise
timestamp(Asia/Seoul),,,,,,,
2019-09-20 00:00:00,25.7250,41.9375,4168.2000,561.1625,2.9250,135.3625,50.1000
2019-09-20 01:00:00,25.8750,43.3125,3699.7375,531.6500,3.2750,0.0000,50.0875
2019-09-20 02:00:00,26.0375,43.9500,3313.8625,508.0750,3.6500,0.0000,50.0750
2019-09-20 03:00:00,25.6625,46.5750,2379.5625,403.8250,4.6625,171.5125,51.7000
2019-09-20 04:00:00,25.4250,48.7875,1008.6500,209.7375,6.8500,0.0000,50.2250

In [95]:
air_data.to_excel('air92024.xlsx')