In [4]:
import pandas as pd
import numpy as np

In [5]:
ap_data = pd.read_excel('real_counting.xlsx', sheet_name = '7')

In [6]:
ap_data = ap_data[:576]

In [7]:
ap_data

            날짜  시간  real_number
0   2019-09-20   0          0.0
1   2019-09-20   1          0.0
2   2019-09-20   2          0.0
3   2019-09-20   3          0.0
4   2019-09-20   4          0.0
..         ...  ..          ...
571 2019-10-13  19         45.0
572 2019-10-13  20         50.0
573 2019-10-13  21         45.0
574 2019-10-13  22         22.0
575 2019-10-13  23         12.0

[576 rows x 3 columns]

In [8]:
ap_data.describe()

               시간  real_number
count  576.000000   576.000000
mean    11.500000    24.828125
std      6.928203    22.142227
min      0.000000     0.000000
25%      5.750000     0.750000
50%     11.500000    22.000000
75%     17.250000    43.250000
max     23.000000    78.000000

In [9]:
ap_data.loc[ap_data.real_number<10, 'congest1'] = '1'
ap_data.loc[(ap_data.real_number>=10) & (ap_data.real_number<30), 'congest1'] = '2'
ap_data.loc[(ap_data.real_number>=30) & (ap_data.real_number<55), 'congest1'] = '3'
ap_data.loc[(ap_data.real_number>=55) & (ap_data.real_number<83), 'congest1'] = '4'
ap_data.loc[ap_data.real_number>=83, 'congest1'] = '5'

In [10]:
ap_data

            날짜  시간  real_number congest1
0   2019-09-20   0          0.0        1
1   2019-09-20   1          0.0        1
2   2019-09-20   2          0.0        1
3   2019-09-20   3          0.0        1
4   2019-09-20   4          0.0        1
..         ...  ..          ...      ...
571 2019-10-13  19         45.0        3
572 2019-10-13  20         50.0        3
573 2019-10-13  21         45.0        3
574 2019-10-13  22         22.0        2
575 2019-10-13  23         12.0        2

[576 rows x 4 columns]

In [11]:
ap_data.to_excel('real_jam_7.xlsx')